.textcar1{
    margin-bottom: 20%;

}

.imgcar1{
    font-size: 100px;
}

.desccar1{
    font-size: 20px;
    padding-bottom: 20px;
}

#mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.page-section{
    padding: 6rem;
}

.nosotrosdiv{
    padding: 1.5rem;
}

.menubuttons{
    padding-right: 20rem;
}